body,
html {
  font-family: "Mulish", sans-serif;
}
.headerOverlap {
  width: 100%;
  z-index: 2;
}
:root {
  --colorGrey: #959494;
  --colorBlack: #2d2d2d;
  --colorRed: #e10000;
  --colorGreen: #3dbc60;
  --colorBlue: #1456F2;
}
.colorOrange{
  color: #FE7B29;
}

.colorBlue{
  color: var(--colorBlue);
}
.mynav a:hover,
.mynav a.active {
  color: var(--colorGrey);
}
.h100vh {
  height: 100vh;
}
.banner {
  top: 0px;
}
.myFooter {
  background: #fffcfb;
  border-top: 1px solid #f6ece8;
}
.bTop {
  border-top: 1px solid #fff;
  padding-top: 38px;
  margin-top: 40px;
}
.posBorder {
  border-top: 1px solid #ddd;
}
.pos::before {
  background: #ddd;
  content: "";
  position: absolute;
  top: 0px;
  width: 100px;
  height: 1px;
}

.greyishGrad {
  background: #f5f5f5; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #f5f5f5 0%,
    #000000 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #f5f5f5 0%,
    #000000 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #f5f5f5 0%,
    #000000 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.middle {
  margin-top: -70px;
}
.mnLine {
  line-height: 64px;
}
.shortGrey {
  background: #ddd;
  height: 200px;
  position: absolute;
  width: 100%;
}
.innerHeader {
  height: 77px;
  overflow: hidden;
}

/* .owl-carousel .owl-nav.disabled {
      display: flex !important;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      top: 40%;
  }
  .owl-carousel .owl-nav.disabled .owl-prev {
      position: relative;
      left: -37px;
  }
  .owl-carousel .owl-nav.disabled .owl-next {
      position: relative;
      right: -37px;
  } */

.abtGradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+33,959494+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #ffffff 0%,
    #ffffff 33%,
    #959494 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #ffffff 33%,
    #959494 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 33%,
    #959494 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#959494',GradientType=0 ); /* IE6-9 */
}
button.owl-dot {
  border: 1px solid #3c3c3c !important;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-right: 5px;
}
button.owl-dot.active {
  background: #3c3c3c !important;
}

.titleGreyBg {
  background: #d9d9d9;
}
.grayscale {
  filter: grayscale(100%);
}
.logo:hover {
  color: #fff;
}
.scheduleIframe {
  width: 100%;
  height: 450px;
}
@media only screen and (max-width: 1160px) and (min-width: 1024px) {
  .jobType {
    display: table;
    margin-left: 0px;
    font-size: 13px;
    border-width: 1px;
    margin-top: 4px;
  }
 body .btnTheme.btnWhite {
    background: #fff;
    color: #000;
    font-weight: 700;
    font-size: 12px ;
    padding-left: 20px;
    padding-right: 20px;
  }
  .homeVar h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 800px) {
  body .rot90 {
    width: 180%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 767px) {
  .jobType {
    display: table;
    margin-left: 0px;
    font-size: 13px;
    border-width: 1px;
    margin-top: 4px;
  }
  .homeVar h3 {
    font-size: 18px;
  }
  .btnTheme.btnWhite {
    background: #fff;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .searchForm {
    margin-bottom: 10px;
  }
  .middle {
    margin-top: 0px;
  }
  .shortGrey {
    height: 150px;
  }
  body .fs60 {
    font-size: 45px;
  }
  body .fs150 {
    font-size: 90px;
  }
  body .fs35 {
    font-size: 25px;
  }
  body .fs70 {
    font-size: 45px;
  }
  body .mnLine {
    line-height: 44px;
  }
  .valueSection h2 {
    margin-bottom: 30px;
  }
}
.modal-header {
  border: none;
}
.modal-body {
  padding-bottom: 50px;
}
.modal-body .mynav li {
  margin-bottom: 10px;
  margin-right: 0px;
}
.modal-body .mynav li a {
  margin-right: 0px;
}
@media only screen and (max-width: 576px) {
  .col-xs-6 {
    flex: 0 0 auto !important;
    width: 50% !important;
  }
}
@media only screen and (max-width: 800px) {
  .btnTransparent {
    padding: 8px 20px;
    font-size: 14px;
  }
  body .jobType {
    display: inline-block;
    font-size: 12px !important;
    margin-left: 0px;
    margin-top: 4px;
  }
  .mobMb0{
    margin-bottom: 0px !important;
  }
  .testWrapper .posImg {
    display: none;
  }
  .testWrapper .position-absolute {
    position: static !important;
  }
  .mt100.pt100.pb100.testWrapper {
    margin-top: 0px;
    padding-top: 0px;
  }
  body .rot90 {
    position: static !important;
    transform: rotate(0deg);
  }
  .mobMb15{
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
 
  .bannerWrapper > img {
    height: 50vh;
  }
 
  .btnTransparent.btnLightGrey {
    background: #F3F3F3;
    font-size: 13px;
    padding: 10px 20px;
  }
  .col-xs-8 {
    max-width: 80%;
  }
  .homeVar h3 {
    font-size: 18px;
  }
  .tabbing > li {
    margin-bottom: 12px;
  }
  .pt80 {
    padding-top: 40px;
  }
 .pb80 {
    padding-bottom: 40px;
  }

  .mobPt0 {
    padding-top: 0px;
  }
  .d-xs-none {
    display: none !important;
  }
  .mobReverse {
    flex-direction: column-reverse;
  }
  .banner > img {
    height: 480px;
  }
  body .fs150 {
    font-size: 60px;
  }
  body .fs35 {
    font-size: 20px;
  }
  body .btnTheme {
    font-size: 14px;
  }
  body .fs70 {
    font-size: 30px;
    line-height: 32px;
  }
  .valueSection h2 {
    margin-bottom: 30px;
  }
  body .fs60 {
    font-size: 36px;
  }
  .middle {
    margin-top: 0px;
  }
  .myFooter > img {
    height: 320px;
  }
  .bTop {
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}
body {
  overflow-x: hidden;
}
.lh40 {
  line-height: 40px;
}
.notify img {
  width: 22px;
}
.searchForm input {
  width: 100%;
  border: 1px solid #e7e7e7;
  height: 45px;
  border-radius: 34px;
  padding-left: 42px;
  outline: none;
}
.searchForm input:focus {
  border-color: #3dbc60;
}
.searchForm img {
  left: 15px;
}
.searchForm select {
  position: absolute;
  right: 6px;
  background: #f3f8ff;
  border: none;
  height: 34px;
  border-radius: 34px;
  padding-left: 12px;
  padding-right: 12px;
}
.links:hover {
  color: var(--colorGreen);
}
.borderTop {
  border-top: 1px solid #F4E1DA;
}
.borderBottom {
  border-bottom: 1px solid #F4E1DA;
}
.accenture {
  height: 98px;
  width: 98px;
  background: #be50ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.colorLightBlue {
  color: #77829f;
}
p {
  color: #4b5979;
}
.themeLabel {
  display: inline-block;
  background: #f4f8fc;
  color: #586b88;
  font-size: 13px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 7px 15px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.owl-dots {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 1050px) {
  .yellowBox {
    background: #ffc005;
    height: 100%;
    width: 38vw;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

.tabbing .active {
  color: var(--colorGreen);
  border-color: var(--colorGreen);
}
.tabbing a:hover {
  color: var(--colorGreen);
  border-color: var(--colorGreen);
}
.tabbing > li > a {
  border-bottom: 2px solid transparent;
}
@media only screen and (max-width: 1400px) and (min-width: 1100px) {
  .btnBlue {
    padding: 12px 15px;
  }
}

.carWrapper {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carPink{
  background: #FAE7EC;
}
.carGreen{
  background: #D3ECE9;
}
.carViolet{
  background: #E0E3F3;
}
.carPinkish{
  background: #FFF4F1;
}
.borderBox {
  border-right: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}

.borderBoxWrapper{
  border-top: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
}
.nav-tabs .nav-link.active {
  border-top: none;
  border-left: none;
  border-right: none;
}
.nav.nav-tabs {
  text-align: center;
  justify-content: center;
}
.progress-bar-vertical {
  width: 20px;
  min-height: 175px;
  margin-right: 20px;
  float: left;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
.progress-bar {
  background-color: #F2724B;
}

.lightShad{
background: #FAFAFA;
}
.wrapperIt img {
  max-width: 110px;
  margin: 0 auto;
}
.maxWrapper {
  max-width: 100px;
  min-width: 70px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
}
.rombus{
  border: 2px solid #EFEFEF;
}
.abtBox .borderBox {
  min-height: 140px;
}

.owl-carouselCenter .owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.owl-carouselCenter .owl-controls{position:absolute; margin-top:300px;}
.owl-carouselCenter .item{
  opacity:0.4;
  transition:.4s ease all;
  margin:0px;
  transform:scale(.8);
}
@media(max-width:1000px){
  .owl-carouselCenter .item{margin:0; transform:scale(.9)}
}
.owl-carouselCenter .owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.owl-carouselCenter .active + div .item{
  opacity:1;
  transform:scale(1);
} 
.reviewWrapper{
  background: #FFFCFB;

}
.wh56{
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.font-italic {
  font-style: italic;
}
.leaderWrapper{
  background: #FFF8F5;
}
.bgGrey{
  background: #FBFBFB;
}
.bgPink{
  background: #FFF8F5;
}
.linkdin{
  background: #0066C8;
  color: #fff;
  padding: 3px;
  text-align: center;
  width: 100%;
  display: block;
  text-decoration: none;
}
.owl-nav > button {
  background: #FE7B29 !important;
  color: #fff !important;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.owl-nav {
  text-align: center;
  margin-top: 30px;
}
.owl-nav > button span {
  font-size: 32px;
  line-height: 25px;
}
.owl-nav > button:first-child {
  margin-right: 10px;
}
.ovr {
  position: absolute;
  width: 300px;
  height: 100%;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.61+35,1+100 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0.61) 0%, rgba(255,255,255,0.61) 35%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0.61) 0%,rgba(255,255,255,0.61) 35%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0.61) 0%,rgba(255,255,255,0.61) 35%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

  top: 0px;
z-index: 9999999;
}
.btnTheme.btnWhite{
  background: #fff;
  color: #000;
  font-weight: 700;
}
.btnTheme.btnWhite:hover{
  background: var(--colorGreen);
  color: #fff;
}
.bor{
  position: relative;
}
.bor::after {
  background: url('../img/border.svg') no-repeat;
  content: "";
  bottom: -12px;
  position: absolute;
  width: 100%;
  height: 10px;
  background-size: 100%;
  left: 0px;
}
.bannerSearch.searchForm input {
  height: 63px;
}
.btnTheme.btnBlack {
  background: #000;
  height: 75%;
  right: 10px;
}
.btnTheme.btnBlack:hover {
  background: var(--colorGreen);
  color: #fff;
}
.rot90 {
  transform: rotate(270deg);
  position: absolute;
  overflow: hidden;
  left: -43%;
  width: 130%;
}
.home_carousel .owl-nav {
  display: block !important;
  text-align: left;
}
.colorRed{
  color: #E43942;
}
.gTestimonial{
  background:      #FFEFE9;
}
.flatCorner::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 56px 66px;
  border-color: transparent transparent #ffffff transparent;
  right: 0px;
}
.btnTransparent:hover{
  color: #fff !important;
}
.bgLightBlue{
  background: #F6FAFF;
}
.bgOrange{
  background: #F2724B;
}
.ratingNo{
  height: 64px;
  width: 64px;
}
.jobType {
  border: 2px solid var(--colorGreen);
  padding: 5px 10px;
  color: var(--colorGreen);
  font-size: 16px;
}
.colorGreen{
  color: var(--colorGreen);
}
.colorRed{
  color: var(--colorRed);
}
.wrapperRev {
  border: 1px solid #F4E1DA;
}